*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overallpage{
  padding: 2rem 5rem;
  background-image: url(/Images/ellipse.png);
}

.about-overview{
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 1rem;
}

article{
  padding: 1rem 0;
}
article h2{
  padding: 0.5rem 0;
}

article p{
  line-height: 1.5rem;
  font-weight: 200;
  font-size: 1.1em;
  color: rgba(60, 60, 60, 0.752);
}

@media screen and (max-width:900px) {
  .overallpage{
    padding: 0.5rem;
  }
  .about-overview{
    padding: 1rem;
    
  }
}