*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overall{
  padding: 2rem 10rem;
  background-image: url('/Images/ellipse.png');
  background-position: center;

}

.head h1{
  color: rgb(0, 0, 88);
  text-align: center;
}



.contact-detal{
 background-color: rgb(255, 255, 255);
 padding: 2rem 5rem;
 border-radius: 2rem;
 display: flex;
 align-items: center ;
 gap: 10rem;
}
.contd{
  border: 2px solid lightgray;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}
.contd h3{
  font-size: 1em;
  font-weight: 900;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}
.contd p{
  font-size: 0.7em;
  font-weight: 900;
  color: gray;
}

.container1,.container2{
  display: flex;
  gap: 1rem;
  color: rgb(0, 0, 70);
}



.con-hero1 button{
  background-color: rgba(173, 216, 230, 0.455);
  color: darkblue;
  border-radius: 0.4rem;
  border: none;
  font-weight: bolder;
  margin: 1rem 0;
}

.con-hero1 h1{
  font-size: 1.8em;
  font-weight: bolder;
}

.con-hero1 p{
  font-size: 1em;
  font-weight: bolder;
  padding: 1.5rem 0;
}