*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.overall-view{
  background-color: white;
  background-image: url('/Images/ellipse.png');
  padding: 2rem 5rem;
}


.overall-view h1{
  font-size: 2em;
}
.top p{
  padding: 0.5rem 0;
  font-weight: lighter;
}
.top .pic{
  color: blue;
  padding: 0.5rem 0;
}

.top-courses{
  display: flex;
  padding: 0.5rem 0;
  gap: 0.5rem;
}
.couser1{
  width: 12rem;
  border: 1px solid gray;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}


.couser1 h4{
  padding: 1rem 0;
  font-weight: 550;
  color: rgb(0, 0, 84);
}


@media screen and (max-width:600px) {
  .overall-view{
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
  }
  .top-courses{
    flex-direction: column;
  }

  .couser1{
    width: 100%;

  }

  
}
