*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.login-overview{
  background-image: url('/Images/ellipse.png');
  padding: 2rem 5rem;
}

.login-details{
  padding: 5rem 5rem;
  display: flex;
  align-items: center;
  gap: 20rem;
  border-radius: 2rem;
  background-color: white;
}


.first-sect button{
  color: rgba(0, 0, 255, 0.814);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bolder;
}

.first-sect h2{
  font-size: 2em;
  padding: 1rem 0;
  font-weight: bolder;
}

.first-sect p{
  padding: 0.5rem 0;
  font-size: 1em;
  font-weight: bolder;
}

.logins h3{
  font-size: 1.5em;
}

.logins p{
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
}
.logins a{
  text-align: left;
  padding: 1rem 0;
  color: red;
}
.logins input{
  height: 2.5rem;
  display: block;
  width: 20rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  outline: none;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}


.logins button{
  border: none;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: blue;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  height: 2.5rem;
}
.logins button:hover{
  opacity: 0.7;
}


@media screen and (max-width:900px) {
  .login-details{
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    padding: 0.5rem 0;
    align-items: flex-start;
  }
  .login-overview{
    padding: 1rem;
  }
  .login-details input{
    width: 20rem;
  }
  .logins button{
    width: 20rem;
  }
}
/*
signup component styling starts from here
*/
